

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

header, nav{
    font-family: 'Quicksand';
    font-weight: 600;
}

body{
    background-image: url(../images/background.jpg);
}


nav {
    background-color: #8a2613;
    margin-bottom: 20px;
    border-bottom: double 10px #e6e0e0;
    border-top: double 10px #e6e0e0;
}

nav ul{
    min-width: 200px;
    min-height: 100px;
    padding: 20px;

}

nav li{
    width: 200px;
    margin:14px;
    margin-left: auto;
    margin-right: auto;
}

nav a{
    color: #e6e0e0;
    padding: 2px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;


}    

li.active a{
    color: #8a2613;
    background-color: #e6e0e0;
    border: solid 0.25px #f2f2f2;
    border-radius: 6px;
    font-weight: 300;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

nav li.active a:hover{
    text-decoration: none;
}



h1 , main {
    min-width: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'Quicksand';
    font-weight: 200;
    padding: 30px;
    border-radius: 4px;
    background-color: bisque;
}

h1{
    font-weight: 600;
}


.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

img {

    border: solid 5px #242424;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px; 
    border-radius: 2px;
    align-self: center;
    min-width: 20%;
    max-width: 21%;

    
}

img:nth-child(even) {
    border: solid 5px #006f40;
}

img:hover, img:nth-child(even):hover {
    border: ridge 10px #242424;
    width: 85%;
    border-radius: 8px;
    padding: 0px; 
}


